/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
.articleDiv{
    margin-bottom: 20px;
}
.img-fluid {
      width: 100%;
      height: 230px;
}

.news-source {
    font-weight: bold;
}

.desc{
    text-align: center;
}

.post-time {
    font-style: italic;
}
/* Responsiveness optimization */
@media screen and (max-width: 549px) {
    .display-3 {
        font-size: 2em;
    }

    .img-fluid {
        height: auto;
    } 

    #desc-body{
        text-align: justify;
    }
}